# Python Virtual Environment
venv/
.venv/
env/

# Python compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Build artifacts
build/
dist/
*.egg-info/
pysx_compiler

# macOS
.DS_Store

# IDE
.vscode/
.idea/
